/* user.css ----------------------------------------------------------------- */

.no-script { border: 1px solid #ddd; border-width: 0 0 1px; background: #ffff90; font: 14px verdana; line-height: 2; text-align: center; color: #2f2f2f; width: 100%; } .no-script .no-script-inner { margin: 0 auto; padding: 5px; } 
.no-script p { margin: 0; }

#captcha {
	float: left;
	margin-left: 10px;
	margin-top: 8px;
}
